<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Book name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="BookName"
        placeholder="Enter book name" #name="ngModel"  required>
        <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
            Enter book name
        </div>
    </div>

    <label class="col-sm-2 col-form-label">Book author</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="BookAuthor"
        placeholder="Enter book author" #name1="ngModel"  required>
        <div [hidden]="name1.valid || name1.untouched" class="alert alert-danger">
            Enter book author
        </div>
    </div>

    <label class="col-sm-2 col-form-label">Book price</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="BookPrice"
        placeholder="Enter book price">
    </div>

    <label class="col-sm-2 col-form-label">Book year published</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="BookYearPublished">
    </div>

</div>


<button type="button" (click)="addBook()" *ngIf="Book.BookPrice == 0 " class="btn btn-primary">
    Add book
</button>

<button type="button" (click)="editBook()" *ngIf="Book.BookPrice != 0" class="btn btn-primary">
    Edit book
</button>
