<h1>All readers</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
(click) = "addClick()"
data-backdrop="static" data-keyboard="false"
>
    Add information about book
</button> 

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ModalTitle}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click) = "closeClick()" 
          ></button>
        </div>
        <div class="modal-body">
            <app-add-infobook *ngIf="ActivateAddInfoBookComponent"></app-add-infobook>
        </div>
      </div>
    </div>
  </div>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>
                Surname reader
            </th>
            <th>
                Name reader
            </th>
            <th>
                Patronymic name reader
            </th>
            <th>
                Address reader
            </th>
            <th>
                Phone reader
            </th>
            <th>
                Date birth reader
            </th>
            <th>
                ID ticket
            </th>
            <th>
                Name book
            </th>
            <th>
                Author book
            </th>
            <th>
                Price book
            </th>
            <th>
                Date take book
            </th>
            <th>
                Date return book
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let infobook of InfoBookList">
            <td>{{infobook.Ticket.Reader.Surname}}</td>
            <td>{{infobook.Ticket.Reader.Name}}</td>
            <td>{{infobook.Ticket.Reader.PatronymicName}}</td>
            <td>{{infobook.Ticket.Reader.Address}}</td>
            <td>{{infobook.Ticket.Reader.Phone}}</td>
            <td>{{infobook.Ticket.Reader.DateBirth}}</td>
            <td>{{infobook.Ticket.ID}}</td>
            <td>{{infobook.Book.Name}}</td>
            <td>{{infobook.Book.Author}}</td>
            <td>{{infobook.Book.Price}}</td>
            <td>{{infobook.DateTakeBook}}</td>
            <td *ngIf="infobook.DateReturnBook === null">Book is not returned</td>
            <td *ngIf="infobook.DateReturnBook !== null">{{infobook.DateReturnBook}}</td>
            <td>
                <button type="button" class="btn btn-danger" (click) = "deleteClick(infobook)">
                Delete information about book
                </button>
            </td>
        </tr>
    </tbody>
</table>